

#heading {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h3{
     font-family: "Trirong", serif ;
}
h2{
    font-family: "Trirong", serif ;
    text-align: center;
}
 /* adds background linearGradient */
body{

   background-color: black;
   
}
#displayContainer{
    background:linear-gradient(rgb(27, 7, 11),rgb(9, 54, 62),rgb(9, 1, 18) ,rgb(9, 6, 16),rgb(30, 17, 17));
    color: white;
   
}

#bottomScreen{
    height:60vh;
}
#indexText{
     text-align: center;
     font-size:30px;
}

